@charset "utf-8";
$color: #D24C72;
/*reset*/
body,button,input,select,textarea{font:100%/1 "Helvetica Neue",Helvetica,STHeiTi,"Microsoft YaHei" !important;}
body,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,th,td,p,blockquote,pre,form,fieldset,legend,input,button,textarea,article,aside,footer,header,hgroup,nav,section,menu{margin:0; padding:0;-webkit-text-size-adjust:100%;}
table{border-collapse:collapse;border-spacing:0;}
em,i{font-style:normal;}
li{list-style:none;}
img{border:0;}
input,img{vertical-align:middle;}
article,aside,footer,header,hgroup,nav,section,menu{display:block;}
a{text-decoration:none;}
.clearfix:after{content:"";display:block;height:0;clear:both;visibility:hidden;}
html,body{height:100%;-webkit-text-size-adjust:100%;-webkit-font-smoothing:antialiased;color: #666666;background-color:#fff;font-size: 16px !important;}
a,input,textarea{-webkit-tap-highlight-color:rgba(0,0,0,0);tap-highlight-color:rgba(0,0,0,0);color:#555;outline:none; -webkit-font-smoothing:antialiased}
/*github iocn*/
.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}
@keyframes octocat-wave {
    0%,100% {
        transform: rotate(0)
    }
    20%,60% {
        transform: rotate(-25deg)
    }
    40%,80% {
        transform: rotate(10deg)
    }
}
@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
    }
        animation:none
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}
/* top nav*/
#header{
    width: 100%;
    border-bottom: 5px solid $color;
    .topNav{
        max-width: 1100px;
        margin: auto;
        position: relative;
        .navL{
            position: absolute;
            top: 10px; 
            left: 10px;            
        }
        .navR{
            padding-left: 100px;
            padding-top: 15px;
            position: relative;
            .navHelp{
                .navH{
                    font-size: 28px;
                    line-height: 50px;
                    text-indent: 20px;
                    color: #000;
                    font-weight: 500;
                    float: left;
                }
                .searchForm{
                    float: right;
                    line-height: 50px;
                }
            }
            .listBtn{
                display: none;
                position: absolute;
                border-right: 1px solid $color;
                border-bottom: 1px solid $color;
                width: 18px;
                height: 18px;
                left: 29.16px;
                top: 51px;
                .mobiBtn{
                    width: 14px;
                    position: absolute;
                    height: 2px;
                    background-color: $color;
                    top: 9px;
                    left: 1.5px;
                    
                }
                .mobiBtn::before, .mobiBtn::after{
                    content: "";
                    display: block;
                    position: absolute;
                    width: 14px;
                    height: 2px;
                    background-color: $color;
                }
                .mobiBtn::before{
                    top: -4.5px;
                }
                .mobiBtn::after{
                    bottom: -4px;
                }
            }
            .navList{
                li{
                    float: left;
                    height: 50px;
                    line-height: 50px;
                    width: 80px;
                    text-align: center;
                    margin: 0 5px;
                    position: relative;
                }
                .navLast{
                    float: right;
                }
            }
        }
    }
}
// nav list
.mouseover::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: $color;
}
// device-width < 800px
@media ( max-width:800px ) {
    #header .topNav .navR{
        font-size: 16px;
        .navHelp{
            .navH, .searchForm{
                text-indent: 0;
            }
            .searchForm{
                #search{
                    width: 200px;
                }
            }
        }
        .navList{
            .listBtn{
                display: none;
            }
            li{
                
            }
        }
    }
}
@media ( max-width: 640px ) {
    #header .topNav{
        .navL{
            img{
                height: 60px;
            }
        }
        .navR{
            padding-left: 58.16px;
            .listBtn{
                display: block;
            }
            .navHelp{
                .navH, .searchForm, {
                    float: none;
                    line-height: 30px;
                }
                .navH{
                    font-size: 18px;
                }
                .searchForm{
                    font-size: 14px;
                }
            
            }
            .navList{
                position: absolute;
            }
        }
    }
     
}
@media ( max-width: 500px ) {
    .github-corner{
        display: none;
    }
}