.container {
    margin-top: 4em;
    min-height: calc(100vh - 51px - 110px);
}

footer {
    position: relative;
    bottom: 0;
    padding-top: 1em;
    height: 100%;
}

footer p {
    margin: 0.1em;
}

.bottom-rule {
    text-align: center;
}

.td-full {
    width: 100%;
    height: 100%;
    font-family: monospace;
}

table td {
    word-break: break-all;
    word-wrap: break-word;
    width: 33%;
}

.shrink {
    width: 15%;
    white-space: nowrap;
}

td.shrink {
/*    text-align: right; */
}


table {
    table-layout: fixed;
    width: 100%;
}

@media screen and (max-width:480px) {
    td:nth-of-type(2) {
        display: none;
    }
    thead th:nth-of-type(2) {
        display: none;
    }
}

#debiancn-side-linklist {
    list-style: none;
    font-size: 16px;
}

.navbar-header {
    overflow: hidden;
}
