footer {
    width: 100%;
}
.disc {
    padding: 30px 40% 20px 120px;
    border-top: 1px solid #ddd;
    background-color: rgba(238, 238, 238, 0.7);
    font-size: 0.9em;
    color: #333;
}
.disc a {
    text-decoration: none;
    color: #000;
}
.site-base {
    width: 100%;
    height: 70px;
    border-top: 5px solid #D24C72;
    background-color: #ffffff;
    /*box-shadow: 0 -5px 10px #ccc;*/
    color: #4b4b4b;
    font-size: 0.7em;
}
.site-base a {
    color: #4b4b4b;
}
